# Build results
bin/
obj/
[Dd]ebug/
[Rr]elease/
x64/
x86/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# NuGet
*.nupkg
packages/

# Test results
TestResults/
*.trx

# OS files
.DS_Store
Thumbs.db
